ARMORED_ROOT=.
ARMORED_TEST_ORIGINAL_URL=
ARMORED_STUDIO_ALLOW_COPY=0
ARMORED_HUB_DRY_RUN=1
SHOPEE_APP_ID=
SHOPEE_SECRET_KEY=
SHOPEE_AFFILIATE_API_URL=https://open-api.affiliate.shopee.com.br/graphql
